/* WHAT TO DO HERE:
  3) limit text container (on welcomeWrapper), keep centerd on mobile and align left on desktop
  4) add cool effect on hover for project images (project-tile > img)
  5) change CSS to SASS whenever possible
*/
html {
  scroll-behavior: smooth;
}
body {
  font-family: sans-serif;
  background-color: #505050;
  margin: 0;
}
/*------------------------navbar items------------------------*/
#navbar {
  background-color: #737373;
  width: 100%;
  height: 70px;
  position: fixed;
  top: 0;
  z-index: 99;
  display: flex;
  justify-content: space-between;
}
nav .navLogo img {
  height: 60px;
  padding: 0.3em;
}
nav ul {
  display: flex;
  flex-flow: row;
  justify-content: flex-end;
  margin-right: 50px;
}
nav ul li {
  width: auto;
  list-style-type: none;
  margin-left: 20px;
  margin-top: 5px;
}
nav ul li a {
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
  font-size: 1.5em;
}
nav ul li a:hover {
  color: #ffa5a5;
}
/*------------------------main------------------------*/
main {
  padding: 0 !important;
  margin: 0 !important;
}
/*------------------------welcome section------------------------*/
#welcome-section {
  background-color: #505050;
}
.welcomeWrapper {
  /*height: 100vh;*/
  text-align: center;
  margin: 10% auto 0 auto;
}
.welcometext {
  margin-top: 5%;
  margin-bottom: 5%;
}
.welcomeWrapper h1 {
  color: #ffa5a5;
  font-size: 3rem;
}
.welcomeWrapper p {
  color: #A7A7A7;
  font-size: 1.2rem;
}
.welcomeimg img {
  max-width: 100%;
}
/*------------------------projects section------------------------*/
#projects {
  background-color: #A7A7A7;
  min-height: 100vh;
  height: auto;
  text-align: center;
  margin-bottom: 0;
}
.projectsWrapper {
  width: 80%;
  margin: 5% auto;
  height: auto;
}
#projects h2 {
  color: #000000;
  font-size: 3rem;
}
#projects .title, .project-title {
  color: white;
  font-size: 1rem;
}
.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  row-gap: 0.5em;
  column-gap: 0.5em;
}
.project-tile {
  width: 250px;
  height: 250px;
  position: relative;
  overflow: hidden;
}
.project-tile img {
  object-fit: cover;
}
.project-title {
  background: black;
  padding: 10px 0;
  width: 100%;
  position: absolute;
  bottom: 0;
}
.project-title a, .project-title a:visited {
  color: white;
  font-weight: bold;
  text-decoration: none;
}
.project-title a:hover, .project-title a:focus {
  color: pink;
}
/*------------------------profile section------------------------*/
#profile {
  background-color: #505050;
}
.profileWrapper {
  margin-top: 15%;
  text-align: center;
  width: 90%;
  margin: auto;
}
.profileWrapper h2 {
  font-size: 3rem;
  color: #ffffff;
}
.profileWrapper p {
  font-size: 1.5rem;
  color: #A7A7A7;
}
.profileWrapper a {
  color: #ffa5a5;
  text-decoration: none;
}
.profileWrapper a:hover {
  color: #ff748c;
}
/*------------------------responsive desktop adjustments------------------------*/
@media all and (min-width:800px) {
  .profileWrapper {
    width: 70%;
  }
  .welcomeWrapper {
    display: flex;
    justify-content: center;
  }
  .welcometext {
    width: 25%;
    margin-top: 5%;
  }
  .welcomeimg {
    width: 65%;
    opacity: 85%;
  }
}

